body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222930;
    color: #8E9198;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

.wyswietlanie {
    font-size: 24px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #2CBFA4;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    color: #2CBFA4;
    margin-bottom: 20px;
    text-align: center;
}

input {
    font-size: 20px;
    padding: 5px;
}

strong {
    color: #2CBFA4;
}

input[type=submit] {
    color: #fff;
    background-color: #2CBFA4;
    border-color: #2CBFA4;
    padding: 0.375rem 2rem;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1rem;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    max-width: 200px;
    width: 300px;
    height: 47px;
    margin-top: 20px;
}

input[type=submit]:focus {
    color: #fff;
    outline: none;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #158972;
    border-color: #158972;
}

input[type=text],
input[type=password] {
    width: 300px;
    background-color: #efefef;
    color: #666666;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    text-align: center;
    height: 47px;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid rgb(122, 194, 181);
    background-color: #e9f3e9;
    color: #2CBFA4;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #2CBFA4;
}